<!DOCTYPE html>

<html>
    <head>
      <link type="text/css" rel="stylesheet" href="css/main.css" />
      <title>{% block title %}{% endblock %}</title>

    </head>

    <body>
        <ul {
             display: block;
             width: 60px;
          }>
          <li class=nav><a href="/">main</a></li>
          <li class=nav>
            {% if user_in %}
              <li class=nav><a href="/newpost">new post</a></li>
              <li class=nav>welcome {{user_in}} <a href="/logout">logout</a></li>
            {% else %}
              <li class=nav><a href="/signup">sign up</a></li>
              <li class=nav><a href="/login">login</a></li>
            {% endif %}
        </ul>

       <div id="content">{% block content %}{% endblock %}</div>
    </body>
	
</html>
