<!DOCTYPE html>

<html>
    <head>
      <title>{% block title %}{% endblock %}</title>
        <style type="text/css">
        .label {text-align: right}
        .error {color: red}
        .nav { display: inline; background-color: #dddddd; padding: 8px; }
        </style>
    </head>

    <body>
        <ul {
             display: block;
             width: 60px;
          }>
          <li class=nav><a href="/">main</a></li>
          <li class=nav>
            {% if user_in %}
              {{user_in}} <a href="/logout">logout</a>
            {% else %}
              <a href="/login">login</a>
            {% endif %}
          </li>
        </ul>

       <div id="content">{% block content %}{% endblock %}</div>
    </body>
	
</html>
