{% extends "base.html" %}

{% block title %}Main Blog Page{% endblock %}

{% block content %}    
    <h2>Main Blog Page</h2>
    <hr>
      {% for entry in entries %}
        <div class ="entry">
          <div class = "entry-title"><a href="/?uid={{entry.key().id()}}">{{entry.subject}}</a></div>
          <pre class = "entry-body">{{entry.content}}</pre>
          <div class = "entry-date">{{entry.created}}</div>
          <div class = "entry-author">{{entry.username}}</div>
        </div>
      {% endfor %}
    </hr>
{% endblock %}
