{% extends "base.html" %}

{% block title %}post{% endblock %}

{% block content %}    
    <h2>post</h2>

    <form method="post">
      <label>
        <div>subject</div>
          <input type="text" name="subject" value="{{subject}}">
        </label>
      <label>
        <div>content</div>
          <textarea name="content">{{content}}</textarea>
      </label>
      <div class="error">{{error}}</div>
      <input type="submit" name="submit_item" value="submit">
      <input type="submit" name="cancel_item" value="cancel">
    </form>
{% endblock %}
